ini
[submodule "react-portfolio"]
	path = react-portfolio
	url = https://github.com/LayersOfAbstraction/react-portfolio.git
	branch = shared-styles-precompile

[submodule "maxleiter.com"]
	path = maxleiter.com
	url = https://github.com/LayersOfAbstraction/maxleiter.com.git
	branch = shared-styles-precompile
